<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brad's Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">

    <main>
      <header>
        <h1>
          <a href="/">Brad's Tech Blog</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a class="navlink" href="/">Home page</a>
          <a class="navlink" href="/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
        </nav>
      </header>
      {{{ body }}}
    </main>
    <footer>
      &copy; 2021 Brad Smith
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>